form.rjsf {
  div.form-group.field.field-object {
    fieldset#root {
      div.form-group.field.field-array {
        fieldset#root_RF\ To\ Readback\ Delay\ Tuner {
          > .row.array-item-list {
            margin-left: 200px;
            display: table;
            table-layout: fixed;
            width: 80%;

            > .array-item {
              display: table-cell;
              height: 100px;

              .col-xs-9 {
                .form-group.field.field-object {
                  fieldset {
                    p.field-description {
                      display: none;
                    }

                    div.form-group.field {
                      margin-bottom: 5px;

                      &.field-array {
                        fieldset.field.field-array.field-array-of-number {
                          div.row.array-item-list {
                            border-bottom: none;
                            margin-bottom: 0px;

                            div.array-item {
                              padding-top: 0px;

                              div.col-xs-3.array-item-toolbox {
                                display: none;
                              }
                            }
                          }
                        }
                      }

                      input.form-control {
                        width: 90%;
                      }

                      div {
                        label {
                          margin-top: 0px;

                          span {
                            display: none;
                          }
                        }
                      }

                      > label {
                        display: none;
                      }

                      fieldset {
                        legend {
                          display: none;
                        }
                      }
                    }
                  }
                }
              }
            }

            > .array-item:first-child {
              .col-xs-9 {
                .form-group.field.field-object {
                  fieldset {
                    .form-group.field {
                      position: relative;

                      div {
                        label {
                          position: relative;

                          span {
                            display: block;
                            position: absolute;
                            width: 200px;
                            left: -200px;
                            top: 0px;
                          }
                        }
                      }

                      > label {
                        display: block;
                        position: absolute;
                        width: 200px;
                        left: -200px;
                        top: 0px;
                        margin-top: 0px !important;
                        line-height: 20px;
                      }

                      fieldset {
                        position: relative;

                        legend {
                          display: block;
                          position: absolute;
                          width: 200px;
                          left: -200px;
                          top: 0px;
                          margin-top: 0px !important;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


